---
import Layout from "../layouts/Layout.astro";
import TerminalWindow from "../components/TerminalWindow.astro";
import UserInfoPanel from "../components/UserInfoPanel.astro";
import { auth } from "../lib/auth";
import { parseSetCookieHeader } from "better-auth/cookies";
export const prerender = false;
import Airtable from "airtable";

const base = new Airtable({
    apiKey: import.meta.env.AIRTABLE_API_KEY,
}).base(import.meta.env.AIRTABLE_BASE_ID);

const user = await auth.api.getSession({
    headers: Astro.request.headers,
});

if (!user) {
    const { headers, response } = await auth.api.signInWithOAuth2({
        body: {
            providerId: "hca",
            callbackURL: Astro.request.url,
        },
        headers: Astro.request.headers,
        returnHeaders: true,
    });

    const setCookie = headers.get("set-cookie");
    if (setCookie) {
        const cookies = parseSetCookieHeader(setCookie);

        for (const [name, attrs] of cookies) {
            Astro.cookies.set(name, attrs.value, {
                domain: attrs.domain,
                expires: attrs.expires,
                httpOnly: attrs.httponly,
                maxAge: attrs["max-age"],
                path: attrs.path ?? "/",
                sameSite: attrs.samesite,
                secure: attrs.secure,
            });
        }
    }

    if (response.redirect) {
        return Astro.redirect(response.url);
    }
}

if (
    !(
        await base("RSVPs")
            .select({
                maxRecords: 1,
                filterByFormula: `{Slack ID} = "${user?.user.slack_id}"`,
            })
            .firstPage()
    ).length
) {
    return Astro.redirect("/rsvp");
}

const referred = await base("RSVPs")
    .select({
        filterByFormula: `{Referrer} = "${user?.user.slack_id}"`,
    })
    .firstPage();
---

<Layout>
    <div class="prose prose-xl prose-invert mx-auto p-4">
        <TerminalWindow
            titleSuffix=" --pyramid-scheme"
            bodyClass="flex flex-col gap-4 p-4 items-start"
        >
            <UserInfoPanel
                class="w-full"
                name={user?.user.name}
                slackId={user?.user.slack_id}
            />
            You have referred {referred.length}
            {" "}
            {referred.length === 1 ? "person" : "people"}
            <br />
            Your link is https://{Astro.url.host}/rsvp?ref={user?.user.slack_id}
        </TerminalWindow>
    </div>
</Layout>
